 <nav class="navbar navbar-expand-lg navbar-light bg-info p-0">
  <div class="container">
    <a class="navbar-brand text-white" href="#">SAAS2-UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link " href="#">
            <i class="fas fa-desktop text-white " data-toggle="tooltip" data-placement="bottom" title="Desktop View"></i>
          </a>
        </li>
      </ul>
      <div class="my-lg-0">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
           <a class="nav-link text-white" data-toggle="modal" data-target="#exampleModal">
             <i class="fas fa-edit text-white" data-toggle="tooltip" data-placement="bottom" title="Create New"></i></a>
         </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <i class="fas fa-square text-white" data-toggle="tooltip" data-placement="bottom" title="Show Borders"></i>
            </a>
          </li>
          <li class="nav-item" (click)="preview()" data-toggle="modal" data-target="#previewModal">
            <a class="nav-link">
              <i class="fas fa-eye text-white" data-toggle="tooltip" data-placement="bottom" title="Preview"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <i class="fas fa-arrows-alt text-white" data-toggle="tooltip" data-placement="bottom" title="Fullscreen"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <i class="fas fa-code text-white" data-toggle="tooltip" data-placement="bottom" title="Export"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <i class="fas fa-undo text-white" data-toggle="tooltip" data-placement="bottom" title="Undo"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <i class="fas fa-redo text-white" data-toggle="tooltip" data-placement="bottom" title="Redo"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fas fa-download text-white" data-toggle="tooltip" data-placement="bottom" title="Import" (click)="generateFile()"></i>
            </a>
          </li>
          <li class="nav-item" (click)="clearDrawArea()">
            <a class="nav-link ">
              <i class="fas fa-trash text-white" data-toggle="tooltip" data-placement="bottom" title="Clear Canvas"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <i class="fas fa-question-circle text-white" data-toggle="tooltip" data-placement="bottom" title="About"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

 <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="previewModallLabel">Preview</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="preview">
              
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn_width btn-secondary" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>

 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Page</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text module_font" id="inputGroup-sizing-sm">Page Name</span>
              </div>
              <input type="text" class="form-control inside_size" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="componentName">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn_width btn-secondary" data-dismiss="modal">Close</button>
            <button type="sumit" class="btn btn-sm btn_width btn-info"  data-dismiss="modal" (click)="saveComponentName()">Save</button>
          </div>
        </div>
      </div>
    </div>
